nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

nav .nav-left,
nav .nav-right {
    display: flex;
    align-items: center;
    margin-top: 1.8rem;
    gap: 2rem;
    z-index: 10;
    color: #cccccccc;
}

.nav-left {
    margin-left: 6rem;
}

.nav-right {
    margin-right: 6rem;
}

.nav-right li:last-child {
    display: flex;
    gap: 0.5rem;
    align-items: start;
}

nav li {
    list-style: none;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 500;
    color: #cccccccc;
}

nav li:hover {
    color: white
}

nav li a {
    all: unset;
}


nav .logo-icon {
    width: 9.2rem;
    height: 2.5rem;
    margin-right: 2.5rem;
}

/* Make responsive */

.browse {
    display: none;
}

.caret-icon {
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.menu {
    display: none;
}

.browse-by-genre {
    /* overflow: hidden; */
    /* padding: 0 2rem; */
    /* margin: 0 2rem; */
    overflow: hidden;
}

.dropdown-genre-list {
    position: absolute;
    background-color: red;

    top: 5.5rem;
    left: 0;
    width: 100vw;
    display: flex;
    /* padding: 1rem; */
    gap: 1rem;
    z-index: 99;
    justify-content: center;
    text-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    /* margin: 0 2rem; */
    /* background-color: red; */
}

.dropdown-genre-list::-webkit-scrollbar {
    display: none;
}

.dropdown-genre-list li {
    /* padding: 0.5rem 1rem; */
    padding: 0.5rem;
    background-color: gray;
    border-radius: 1rem;
}


.active {
    color: white
}

@media (max-width: 1000px) {
    .nav-left .nav-list {
        display: none;
    }

    .nav-left .logo,
    .nav-left .browse {
        display: block;
    }


    .browse {
        position: relative;
    }

    .dropdown {
        display: none;
        position: absolute;
        top: 2rem;
    }

    .browse:hover>.dropdown {
        display: block !important;
    }

}

@media (max-width: 600px) {

    .menu {
        display: block;
    }

    .nav-left .browse {
        display: none;
    }
}