nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

nav .nav-left,
nav .nav-right {
    display: flex;
    align-items: center;
    margin-top: 1.8rem;
    gap: 2rem;
    z-index: 10;
    color: #cccccccc;
}

nav ul:first-child {
    margin-left: 6rem;
}

nav ul:last-child {
    margin-right: 6rem;
}

nav ul:last-child li:last-child {
    display: flex;
    gap: 0.5rem
}

nav li {
    list-style: none;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 500;
}

nav li:hover {
    color: white
}

nav li a {
    all: unset;
}


nav .logo-icon {
    width: 9.2rem;
    height: 2.5rem;
    margin-right: 2.5rem;
}

/* Make responsive */

.browse {
    display: none;
}

@media (max-width: 1000px) {
    .nav-left .nav-list {
        display: none;
    }

    .nav-left .logo,
    .nav-left .browse {
        display: block;
    }

    .nav-left .browse img {
        margin-left: 1rem;
    }

    .browse {
        position: relative;
    }

    .dropdown {
        display: none;
        position: absolute;
        top: 2rem;
    }

    .browse:hover > .dropdown {
        display: block !important;
    } 

}